p{
    font-weight: bold;
    font-size: 20px;
}

#top{
    text-decoration: underline;
}

.emphasizedText{
    font-style: italic;
    color: red;
    
}

body{
    background-color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    border: 5px solid black;
    margin: 20px;
    padding: 10px;
}

ul{
    list-style-position: inside;
}

ol{
    list-style-position: inside;
}